* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background: #000 url(imgfundo.png) no-repeat center;
    border-collapse: separate;


}


.container {
    width: 100%;
    margin: auto;
    margin-top: 137px;
    display: flex;
    justify-content: center;
    max-width: 1400px;


}

header nav {

    background-color: #191414;
    width: 1000px;
    height: 50px;
    position: relative;
    left: 0;
}

.img-logo {

    width: 1000px;

}


ul {

    list-style: none;
    /* Remove as bolinhas do UL */

}

li {

    display: inline-block;
    /* INLINE-BLOCK Joga Alinha As Li Uma Ao Lado Da Outra */
    margin-right: 10px;
    padding: 14px;
    color: #665855;
    position: relative;
    left: 20px;
    font-size: 15px;


}





main .article-video {

    background-color: #E2E2E1;
    color: #7D7474;
    display: flex;
    flex: 2;
    height: 801px;
}




main .aside-conteudo {

    background-color: #E2E2E2;
    display: flex;
    flex: 1;
    border: 1px solid #000;
    height: 987px
}

main .container {

    margin-top: 0;
    display: flex;
    flex-direction: row;
    width: 52%;


}


main .aside-conteudo h2 {
    background-color: #161111;
    height: 47px;
    color: #7D7474;
    width: 329px;



}

main .aside-conteudo span {

    font-size: 15px;
    margin: 100px;


}

main .article-video span {

    font-size: 16px;
    margin: 122px;
    background-color: #161111;
    position: relative;
    top: 10px;
}



main .article-video .h2-aside {

    width: 658px;
    height: 47px;
    font-size: 15px;
    background-color: #151010;


}

main .aside-conteudo form {

    width: 0;
    position: relative;
    top: 64px;
    right: 300px;

}

main .aside-conteudo .input-02 {

    position: relative;
    right: 29px;
    top: 10px;
    border: 1px solid #000;
    height: 32px;
    background-color: #999999;


}


main .aside-conteudo .input-01 {

    position: relative;
    right: 30px;
    height: 32px;
    background-color: #999999;
}


main .aside-conteudo .senha {

    position: relative;
    top: 10px;
    left: 10px;

}

main .aside-conteudo .username {

    position: relative;
    right: 13px
}


main .aside-conteudo .submit-02 {

    position: relative;
    left: 124px;
    background: #555555;
    color: #717171;
    width: 138px;
    height: 32px;
    border-radius: 6px;
    border: none;
    font-size: 12px;
}


main .aside-conteudo .submit-01 {

    position: relative;
    top: 31px;
    left: 13px;
    height: 27px;
    background: #555555;
    color: #717171;
    border-radius: 6px;
    border: none;
    font-size: 12px;
    width: 58px;

}

main .aside-conteudo .h2-server {

    position: relative;
    top: 232px;
    width: 0;
    right: 210px;
    font-size: 15px;

}

main .aside-conteudo .info-server {

    position: relative;
    top: 236px;
    right: 164px;
    width: 0;

}

main .aside-conteudo h3 {

    font-size: 15px;
    width: 329px;
    background: #151010;
    position: relative;
    right: 165px;
    height: 47px;
    color: #7D7474;
    padding: 10px;
    border: 1px solid;

}







.container-status {

    display: flex;
    position: relative;
    width: 272px;
    float: right;
    top: 17px;
    left: 133px;
    height: 80px;
    border: 1px solid #999;


}

.td-status {

    position: relative;
    right: 121px;
    top: 28px;
    border: 1px solid #999;
    padding: 18px;
}


.td-green {

    position: relative;
    top: 30px;
    right: 56px;
    border: 1px solid #999;
    padding: 19px;


}

.head-rigth {
    display: flex;
    justify-content: center;
    position: relative;
    top: 43px;
    background-color: #151010;
    width: 329px;
    right: 165px;
    height: 47px;
    padding: 10px;
    color: #7D7474;
    font-size: 15px;
    border: 1px solid;

}


.cont-facebook {

    position: relative;
    right: 132px;
    top: 42px;

}


.videos-gw {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    right: 174px;
    top: -180px;

}

.server-info {

    display: flex;
    justify-content: center;
    position: absolute;
    right: 166px;
    top: 566px;
    background-color: #161111;
    width: 658px;
    height: 47px;
    padding: 10px;
    color: #999;
    font-size: 15px;
}

.p-server {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right: 166px;
    background-color: #E2E3E2;
    width: 659px;
    height: 900px;
    top: 613px;

}

.paragrafo-server {

    font-size: 21px;
    position: relative;
    top: 26px;
    font-weight: lighter;
    color: #807070;
}

h4 {
    border: 1px solid #8F0000;
    ;
    height: 20px;
    position: absolute;
    color: #807070;
}

.h4-02 {
    position: relative;
    top: 25px;
    left: 89px;
}


.paragrafo-01 {

    right: 162px;
    position: relative;
    font-size: 16px;
    color: #807070;
    top: 49px;
}



.div-fixed {

    width: 0;
    position: fixed;
    right: 60px;
    bottom: 257px;
}

.link-facebook {

    position: relative;
    bottom: 15px;

}

.nav-head {

    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

.nav-head:hover {

    opacity: 0.5;
    color: #8F0000;

}

.nav-head:active {

    opacity: 0.9;

}

.video-01 {

    width: 640px;
    height: 360px;
    position: relative;
    left: 0;
    top: 0;

}

.video-02 {

    width: 640px;
    height: 360px;
    position: relative;
    top: 0;

}

.div-face {

    width: 270px;
    height: 545px;

}

@media screen and (max-width: 390px) {


    header nav {
        background-color: #191414;
        width: 382px;
        height: 25px;
        position: relative;
        left: 0px;
    }


    li {
        display: inline-block;
        margin-right: 0px;
        padding: 1px;
        color: #665855;
        position: relative;
        left: 3px;
        font-size: 0.5rem;
    }

    .p-server {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        right: -27px;
        background-color: #E2E3E2;
        width: 249px;
        height: 695px;
        top: 389px;
    }



    .div-fixed {
        width: 0;
        position: fixed;
        right: 27px;
        bottom: 257px;
    }

    .foto-facebook {

        width: 28px;

    }

    .foto-youtube {

        width: 28px;


    }

    .p-server {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        right: 11px;
        background-color: #E2E3E2;
        width: 204px;
        height: 490px;
        top: 380px;

    }


    h4 {
        border: 1px solid #8F0000;
        height: 19px;
        position: absolute;
        color: #807070;
        font-size: 8px;
    }

    .h4-02 {
        position: relative;
        top: 23px;
        left: 0px;
    }

    .paragrafo-01 {
        right: -1px;
        position: relative;
        font-size: 9px;
        color: #807070;
        top: 10px;
    }

    .paragrafo-server {
        font-size: 7px;
        position: relative;
        top: 5px;
        font-weight: lighter;
        color: #807070;
    }


    .video-02 {
        width: 197px;
        left: 156px;
        position: relative;
        height: 220px;
        top: -9px;
    }

    .video-01 {

        width: 197px;
        position: relative;
        left: 156px;
        height: 220px;
        top: -16px;

    }

    .td-green {
        position: relative;
        top: 24px;
        right: -31px;
        border: 1px solid #999;
        padding: 4px;
    }

    .td-status {
        position: relative;
        right: 2px;
        top: 24px;
        border: 1px solid #999;
        padding: 9px;
    }

    .container-status {
        display: flex;
        position: relative;
        width: 164px;
        float: right;
        top: 7px;
        left: 157px;
        height: 69px;
        border: 1px solid #999;
    }

    main .aside-conteudo span {
        font-size: 9px;
        margin: 46px;
    }

    main .aside-conteudo h3 {
        font-size: 13px;
        width: 174px;
        background: #151010;
        position: relative;
        right: 10px;
        height: 37px;
        color: #7D7474;
        padding: 7px;
        border: 1px solid;
    }

    main .aside-conteudo .submit-02 {
        position: relative;
        left: 213px;
        background: #555555;
        color: #717171;
        width: 72px;
        height: 30px;
        border-radius: 7px;
        border: none;
        font-size: 7px;
    }

    main .aside-conteudo .submit-01 {
        position: relative;
        top: 31px;
        left: 137px;
        height: 27px;
        background: #555555;
        color: #717171;
        border-radius: 6px;
        border: none;
        font-size: 8px;
        width: 50px;
    }


    main .aside-conteudo .input-02 {
        position: relative;
        right: -124px;
        top: 4px;
        border: 1px solid #000;
        height: 15px;
        background-color: #999999;
        width: 79px;
    }

    main .aside-conteudo .senha {
        position: relative;
        top: 3px;
        left: 146px;
        font-size: 9px;
    }

    main .aside-conteudo .input-01 {
        position: relative;
        right: -123px;
        height: 16px;
        background-color: #999999;
        width: 79px;
    }

    main .aside-conteudo .username {
        position: relative;
        right: -133px;
        font-size: 9px;
    }

    main .aside-conteudo h2 {
        background-color: #161111;
        height: 35px;
        color: #7D7474;
        width: 329px;
    }


    main .aside-conteudo span {
        font-size: 9px;
        margin: 46px;
    }

    main .aside-conteudo {
        background-color: #E2E2E2;
        display: flex;
        flex: 1;
        border: 1px solid #000;
        height: 987px;
        width: 176px;
    }



    main .article-video {
        background-color: #E2E2E1;
        color: #7D7474;
        display: flex;
        flex: 2;
        height: 581px;
        width: 206px;
    }

    main .article-video .h2-aside {
        width: 206px;
        height: 36px;
        font-size: 12px;
        background-color: #151010;



    }


    main .article-video span {
        font-size: 8px;
        margin: 22px;
        background-color: #161111;
        position: relative;
        top: 9px;
    }


    .img-logo {

        width: 382px;

    }


    header nav {
        background-color: #191414;
        width: 382px;
        height: 25px;
        position: relative;
        left: 0px;
    }

    .server-info {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 11px;
        top: 346px;
        background-color: #161111;
        width: 206px;
        height: 33px;
        padding: 10px;
        color: #999;
        font-size: 10px;
    }

    .head-rigth {
        display: flex;
        justify-content: center;
        position: relative;
        top: 43px;
        background-color: #151010;
        width: 174px;
        right: 10px;
        height: 39px;
        padding: 10px;
        color: #7D7474;
        font-size: 11px;
        border: 1px solid;
    }

    .div-face {

        width: 172px;
        position: relative;
        left: 123px;
        top: 2px;
    }






}